.abtme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.cntbox {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px #00000029;
    width: 50%;
    height: 70%;
    border-radius: 10px;
}

.cnt1 {
    flex: 1;
    display: flex;
    padding: 5%;
    flex-direction: column;
    align-items: center;
    background-color: #ff7272;
}

.cnt1 h1 {
    flex: 1;
    color: #ffffff;
    font-weight: 1000;
    font-size: 30px;
    letter-spacing: 2px;
}

.cnt2 {
    flex: 1;
    display: flex;
    padding: 5%;
    flex-direction: column;
}

.meimg {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    padding: 2%;
}

.meimg img {
    border-radius: 50%;
}

.cntname {
    padding-top: 20%;
}

.cntrole {
    padding-top: 10%;
}

.cntrole h2 {
    color: #ffffff;
    font-weight: 200;
    font-size: 25px;
    letter-spacing: 10px;
}

.cnt2 h1 {
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 2px;
}

.cnt2 h2 {
    padding-top: 10%;
    font-weight: 700;
    font-size: 25px;
}

.cnt2 p {
    padding-top: 10%;
}

.probtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 10%;
}

.probtn button {
    border: none;
    color: white;
    background-color: #ff7272;
    font-weight: 900;
    border: none;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5%;
    border-radius: 10px;
}

.backtint {
    /* background-color: #ff7272; */
    width: 45%;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

@media only screen and (min-width: 1366px) {
    .backint {
        width: 20%;
    }
}

@media only screen and (max-width: 768px) {
    .cntbox {
        flex-direction: column;
        width: 100%;
        height: 100%;
        box-shadow: none;
    }
    .cnt2 {
        height: 100%;
    }
    .backtint {
        display: none;
    }
}